{
  "$schema": "https://opencode.ai/config.json",

  "provider": {
    
    "anthropic": {
      "npm": "@ai-sdk/anthropic",
      "name": "Claude",
      "options": {
        "apiKey": "{env:ANTHROPIC_API_KEY}"
      },
      "models": {
        "claude-opus-4-7": {
          "name": "claude-opus-4-7"
        }
      }
    },

    "openai": {
      "npm": "@ai-sdk/openai",
      "name": "OpenAI",
      "options": {
        "apiKey": "{env:OPENAI_API_KEY}"
      },
      "models": {
        "claude-opus-4-8": {
          "name": "claude-opus-4-8"
        }
      }
    },


    "openai-compatible": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "OpenAI-Compatible",
      "options": {
        "baseURL": "https://api.chaiquan.cc/v1",
        "apiKey": "{env:OPENAI_API_KEY}"
      },
      "models": {
        "claude-opus-4-8": {
          "name": "claude-opus-4-8"
        },
        "claude-opus-4-7": {
          "name": "claude-opus-4-7"
        },
        "claude-opus-4-6": {
          "name": "claude-opus-4-6"
        },
        "gpt-5.5": {
          "name": "gpt-5.5"
        }
      }
    }

  },

  // "model": "anthropic/claude-opus-4-7",
  "model": "openai-compatible/claude-opus-4-8"
  // "model": "openai/claude-opus-4-8"

}